<article>
  <header>
    <h2><%= post.title %></h2>
    <span><%= t(:published_at) %>: <%= post.published_at.strftime("%Y-%m-%d") %></span>
  </header>
  <section class="preamble">
    <%= post.preamble %>
  </section>
  <section class="content">
    <%= post.body %>
  </section>
</article>