<%- @presenter = PostPresenters::ShowPresenter.new(self, @post) -%>
<article>
  <header>
    <h1><%= @post.title %></h1>
    <span><%= t(:published_at) %>: <%= @post.published_at.strftime("%Y-%m-%d") %></span>
    <%= @presenter.tag_list %>
  </header>
  <section class="summary">
    <%= raw @post.summary %>
    <%= @presenter.url %>
  </section>
  <section class="content">
    <%= raw @post.body %>
  </section>
</article>