<!DOCTYPE html>
  <html>
    <head>
      <title>OlkarlsBlog</title>
      <%= stylesheet_link_tag :all %>
      <%= yield :styles %>
      <%= csrf_meta_tag %>
    </head>
    <body>
      <%= yield %>
      <%= yield :javascripts %>
    </body>
</html>